{{!< layout}}
<table class="aui" border="1">
    <thead>
    <tr>
        <th id="type" colspan="3">Bamboo</th>
        <th id="order" colspan="4">Artifactory</th>
        <th id="action" colspan="3">Bintray</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>Number</td>
        <td>Status</td>
        <td>Promotion</td>
        <td>Dev</td>
        <td>QA</td>
        <td>Dev</td>
        <td>Prod</td>
        <td>Version</td>
        <td>Package</td>
    </tr>
    <tr>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.planName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildNumber}}</button>
        </td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-deploy-fail">Failure</span>
        </td>
        <td>
            <button class="aui-button aui-button-primary" onclick="triggetBuild()">Triggre Build</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildNumber}}</button>
        </td>
        <td><a href="{{artBuildInfo.url}}" target="_blank">Build-Info Json</a></td>
        <td>
            <button class="aui-button aui-button-primary">Push to Bintray</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">Version</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildState}}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.planName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildNumber}}</button>
        </td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-deploy-success">Successful</span>
        </td>
        <td>
            <button class="aui-button aui-button-primary" onclick="triggetBuild()">Triggre Build</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildNumber}}</button>
        </td>
        <td><a href="{{artBuildInfo.url}}" target="_blank">Build-Info Json</a></td>
        <td>
            <button class="aui-button aui-button-primary">Push to Bintray</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">Version</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildState}}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.planName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildNumber}}</button>
        </td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled">Insert meaningful text here for accessibility</span>
        </td>
        <td>
            <button class="aui-button aui-button-primary" onclick="triggetBuild()">Triggre Build</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildNumber}}</button>
        </td>
        <td><a href="{{artBuildInfo.url}}" target="_blank">Build-Info Json</a></td>
        <td>
            <button class="aui-button aui-button-primary">Push to Bintray</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">Version</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildState}}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.planName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildNumber}}</button>
        </td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled">Insert meaningful text here for accessibility</span>
        </td>
        <td>
            <button class="aui-button aui-button-primary" onclick="triggetBuild()">Triggre Build</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildNumber}}</button>
        </td>
        <td><a href="{{artBuildInfo.url}}" target="_blank">Build-Info Json</a></td>
        <td>
            <button class="aui-button aui-button-primary">Push to Bintray</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">Version</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildState}}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.planName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildNumber}}</button>
        </td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-devtools-task-in-progress">Insert meaningful text here for accessibility</span>
        </td>
        <td>
            <button class="aui-button aui-button-primary" onclick="triggetBuild()">Triggre Build</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildName}}</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{artBuildInfo.buildNumber}}</button>
        </td>
        <td><a href="{{artBuildInfo.url}}" target="_blank">Build-Info Json</a></td>
        <td>
            <button class="aui-button aui-button-primary">Push to Bintray</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">Version</button>
        </td>
        <td>
            <button class="aui-button aui-button-primary">{{bambooBuildInfo.buildState}}</button>
        </td>
    </tr>
    </tbody>
</table>