{{!< layout}}
<table class="aui" border="0">
    <thead>
    <tr>
        <th colspan="3"  width="30%">
            <div><span class="aui-avatar aui-avatar-xlarge">
                    <span class="aui-avatar-inner">
                        <img src="https://raw.githubusercontent.com/jainishshah17/Images/master/Bamboo.png">
                    </span>
                </span>
                <button class="aui-button aui-button-primary" style="float: right;">
                    <a href="../../triggerBuild/{{bambooBuildInfo.1.plan.0.$.key}}/{{bambooBuildInfo.1.bitBucketUsername}}" style="color: white">Trigger Build</a>
                </button>
            </div>
        </th>
        <th colspan="2"  width="40%"><span class="aui-avatar aui-avatar-xlarge">
    <span class="aui-avatar-inner">
        <img src="https://raw.githubusercontent.com/jainishshah17/Images/master/artifactory.png">
    </span>
</span></th>
        <th colspan="3"  width="30%"><span class="aui-avatar aui-avatar-xlarge">
    <span class="aui-avatar-inner">
        <img src="https://raw.githubusercontent.com/jainishshah17/Images/master/bintray.png">
    </span>
</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Status</th>
        <th>Build Details</th>
        <th>Statuses</th>
        <th>Repository</th>
        <th>Version</th>
    </tr>
    {{#each bambooBuildInfo}}
        <tr>
            <td>{{buildNumber}}</td>

            <td><a href="{{buildLink}}" target="_blank">
                {{#each plan}}
                    {{$.name}}{{/each}}
            </a>
            </td>
            <td>
                {{#compare buildState "==" "Failed"}}
                    <span class="aui-icon aui-icon-small aui-iconfont-remove" title="Failed"></span>
                {{/compare}}
                {{#compare buildState "==" "Successful"}}
                    <span class="aui-icon aui-icon-small aui-iconfont-approve" title="Successful"></span>
                {{/compare}}
            </td>
            <td>
                    <a href="{{uri}}" target="_blank"> Build Info</a>
                <a href="../../downloadArchive/{{bitBucketUsername}}/{{artName}}/{{artBuildNumber}}">
                    <span class="aui-icon aui-icon-small aui-iconfont-file-zip" title="Download Build Artifacts Archive"></span>
                </a><br>
                User: {{principal}}<br>
                Build Agent: {{buildAgent.name}}<br>
                Version : {{buildAgent.version}}
            </td>
            <td>
                {{#each statuses}}
                        -{{status}}<br>
                {{/each}}
            </td>
            <td>
                    <a href="http://bintray.com/{{owner}}/{{repo}}/{{package}}" target="_blank">{{package}}</a>
            </td>
            <td>
                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success"><a
                        href="http://bintray.com/{{owner}}/{{repo}}/{{package}}/{{version}}"
                        target="_blank">{{version}}</a></span>
                    <a href="http://bintray.com/{{owner}}/{{repo}}/{{package}}/{{version}}#statistics" target="_blank"><span class="aui-icon aui-icon-small aui-iconfont-weblink" title="Statistics"></span></a>
                    <a href="http://bintray.com/{{owner}}/{{repo}}/{{package}}/{{version}}#release" target="_blank"><span class="aui-icon aui-icon-small aui-iconfont-details" title="Release Notes"></span></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>